{{ 'section-accordion.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-accordion.js' | asset_url }}" async></script>

<section class="section-accordion">
  <div class="section-accordion__inner page-width page-width--desktop">
    <h2 class="section-accordion__heading">
      {{ section.settings.heading }}
    </h2>
    <div class="section-accordion__sub-heading">
      {{ section.settings.sub_heading }}
    </div>
    <div class="section-accordion__items">
      {% assign blocksEven = section.blocks %}
      {% assign blocksOdd = section.blocks %}

      <div class="section-accordion__column">
        {%- for block in blocksEven -%}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod != 0 %}
            {%- case block.type -%}
              {%- when 'accordion_item' -%}
                <div class="section-accordion__item">
                  <div class="section-accordion__item-header">
                    {{ block.settings.accordion_label }}
                    <svg
                      class="section-accordion__item-header-icon"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="#265979"/>
                    </svg>
                  </div>
                  <div class="section-accordion__content">
                    {{ block.settings.accordion_content }}
                  </div>
                  {{ block.settings.answer }}
                </div>
            {%- endcase -%}
          {% endif %}
        {%- endfor -%}
      </div>

      <div class="section-accordion__column">
        {%- for block in blocksOdd -%}
          {% assign mod = forloop.index | modulo: 2 %}

          {% if mod == 0 %}
            {%- case block.type -%}
              {%- when 'accordion_item' -%}
                <div class="section-accordion__item">
                  <div class="section-accordion__item-header">
                    {{ block.settings.accordion_label }}
                    <svg
                      class="section-accordion__item-header-icon"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="#265979"/>
                    </svg>
                  </div>
                  <div class="section-accordion__content">
                    {{ block.settings.accordion_content }}
                  </div>
                </div>
            {%- endcase -%}
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
    {%- for block in section.blocks -%}
    {%- if block.settings.accordion_label != blank and block.settings.accordion_content != blank -%}
    {
      "@type": "Question",
      "name": {{ block.settings.accordion_label | json }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ block.settings.accordion_content | escape | json }}
      }
    }{%- unless forloop.last -%},{%- endunless -%}
    {%- endif -%}
    {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "Accordion",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "FAQs",
      "placeholder": "FAQs"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "Our commonly asked questions...",
      "placeholder": "Our commonly asked questions..."
    }
  ],
  "blocks": [
    {
      "name": "Accordion Item",
      "type": "accordion_item",
      "settings": [
        {
          "type": "text",
          "id": "accordion_item",
          "label": "Accordion Item"
        }
      ],
      "settings": [
        {
          "type": "text",
          "id": "accordion_label",
          "label": "Accordion Label"
        },
        {
          "type": "textarea",
          "id": "accordion_content",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion"
    }
  ]
}
{% endschema %}
