{{ 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' | stylesheet_tag }}
{{ 'vjs.css' | asset_url | stylesheet_tag }}
{{ 'collection-video.css' | asset_url | stylesheet_tag }}

<script src="https://vjs.zencdn.net/5.4.6/video.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

<script>
    $('.readmore').click(function (event) {
    event.preventDefault();
    var descriptionFull = document.querySelector('.collection-video__description-full');
    descriptionFull.style.display = 'block';
    var descriptionShort = document.querySelector('.collection-video__description-short');
    descriptionShort.style.display = 'none';
    });
    $('.readless').click(function (event) {
    event.preventDefault();
    var descriptionFull = document.querySelector('.collection-video__description-full');
    descriptionFull.style.display = 'none';
    var descriptionShort = document.querySelector('.collection-video__description-short');
    descriptionShort.style.display = 'block';window.scrollTo({top: 110, behavior: 'smooth'});
    })
  </script>

<section class="collection-video">
  <div class="collection-video__inner page-width page-width--desktop">

    <h2 class="collection-video__heading">{{ section.settings.title }}</h2>
    {% if section.settings.description.size > 700 %}
      <div class="collection-video__description-short">
      {{section.settings.description.size | truncate: 500, ". . . " }}<a class="readmore" href="#">more ></a>
      </div>
      <div class="collection-video__description-full" style="display:none;">
      {{ collection.description }}
      <br><a class="readless" href="#">< Show Less</a>
      </div>
      {% else %}
        {{ collection.description }}
    {% endif %} 


    {% if section.settings.video_url %}
      <video id="my-video" class="video-js" controls preload="auto" poster="{{ section.settings.image | image_url }}" data-setup=''>
          <source src="{{ section.settings.video_url }}" type='video/mp4'>
      </video>
    {% endif %}
  </div>
</section>
        
  
  {% schema %}
  {
    "name": "Video New",
    "class": "shopify-section--video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Header",
        "default": "heading"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description",
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video",
        "default": "https://cdn.shopify.com/videos/c/o/v/a8340a931ed5494887fc95873e353131.mp4"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Cover image",
        "info": "2000 x 1125px .jpg recommended."
      }
    ],
    "presets": [
      {
        "name": "Video New"
      }
    ]
  }
  {% endschema %}