{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner-4.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

<div class="image-banner-4">
  <div
    id="Banner-{{ section.id }}"
    class="col-12 col-md-3 banner banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}"
  >
    <div class="banner__media media">
      <img
        srcset="
          {%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w
        "
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 25vw, 100vw{% elsif section.settings.image_2 != blank %}25vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      >
    </div>

    <div class="banner__content banner__content--{{ section.settings.desktop_text_box_position }} page-width">
      <h2
        class="banner__heading banner__heading--vertical {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}"
        {{ block.shopify_attributes }}
      >
        <span>{{ section.settings['title-1'] }}</span>
      </h2>
      <div class="banner__box">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}"
                {{ block.shopify_attributes }}
              >
                <span>{{ section.settings['title-1'] }}</span>
              </h2>
          {%- endcase -%}
        {%- endfor -%}
        <div class="banner__text" {{ block.shopify_attributes }}>
          <span>{{ section.settings.text | escape }}</span>
        </div>
        <div
          class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
          {{ block.shopify_attributes }}
        >
          {%- if section.settings['button-text-1'] != blank -%}
            <a
              role="link"
              href="{{ section.settings.link-1 }}"
              class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
            >
              {{- section.settings['button-text-1'] -}}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  <div
    style="float:left;"
    id="Banner-{{ section.id }}"
    class="col-12 col-md-3 banner banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}"
  >
    <div class="banner__media media">
      <img
        srcset="
          {%- if section.settings.image.width >= 375 -%}{{ section.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image_2 | img_url: 'master' }} {{ section.settings.image.width }}w
        "
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 25vw, 100vw{% elsif section.settings.image_2 != blank %}25vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_2 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      >
    </div>

    <div class="banner__content banner__content--{{ section.settings.desktop_text_box_position }} page-width">
      <h2
        class="banner__heading banner__heading--vertical {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}"
        {{ block.shopify_attributes }}
      >
        <span>{{ section.settings['title-2'] }}</span>
      </h2>
      <div class="banner__box">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}"
                {{ block.shopify_attributes }}
              >
                <span>{{ section.settings['title-2'] }}</span>
              </h2>
          {%- endcase -%}
        {%- endfor -%}
        <div class="banner__text" {{ block.shopify_attributes }}>
          <span>{{ section.settings['text-2'] | escape }}</span>
        </div>
        <div
          class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
          {{ block.shopify_attributes }}
        >
          {%- if section.settings['button-text-2'] != blank -%}
            <a
              role="link"
              href="{{ section.settings.link-2 }}"
              class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
            >
              {{- section.settings['button-text-2'] -}}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  <div
    style="float:left;"
    id="Banner-{{ section.id }}"
    class="col-12 col-md-3 banner banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_3 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}"
  >
    <div class="banner__media media">
      <img
        srcset="
          {%- if section.settings.image.width >= 375 -%}{{ section.settings.image_3 | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image_3 | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image_3 | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image_3 | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image_3 | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image_3 | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image_3 | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image_3 | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image_3 | img_url: 'master' }} {{ section.settings.image.width }}w
        "
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 25vw, 100vw{% elsif section.settings.image_3 != blank %}25vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_2 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      >
    </div>

    <div class="banner__content banner__content--{{ section.settings.desktop_text_box_position }} page-width">
      <h2
        class="banner__heading banner__heading--vertical {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}"
        {{ block.shopify_attributes }}
      >
        <span>{{ section.settings['title-3'] }}</span>
      </h2>
      <div class="banner__box">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}"
                {{ block.shopify_attributes }}
              >
                <span>{{ section.settings['title-3'] }}</span>
              </h2>
          {%- endcase -%}
        {%- endfor -%}

        <div class="banner__text" {{ block.shopify_attributes }}>
          <span>{{ section.settings['text-3'] | escape }}</span>
        </div>
        <div
          class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
          {{ block.shopify_attributes }}
        >
          {%- if section.settings['button-text-3'] != blank -%}
            <a
              role="link"
              href="{{ section.settings.link-3 }}"
              class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
            >
              {{- section.settings['button-text-3'] -}}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  <div
    style="float:left;"
    id="Banner-{{ section.id }}"
    class="col-12 col-md-3 banner banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_4 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}"
  >
    <div class="banner__media media">
      <img
        srcset="
          {%- if section.settings.image.width >= 375 -%}{{ section.settings.image_4 | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image_4 | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image_4 | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image_4 | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image_4 | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image_4 | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image_4 | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image_4 | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image_4 | img_url: 'master' }} {{ section.settings.image.width }}w
        "
        sizes="{% if section.settings.image_4 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 25vw, 100vw{% elsif section.settings.image_4 != blank %}25vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_4 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      >
    </div>

    <div class="banner__content banner__content--{{ section.settings.desktop_text_box_position }} page-width">
      <h2
        class="banner__heading banner__heading--vertical {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}"
        {{ block.shopify_attributes }}
      >
        <span>{{ section.settings['title-4'] }}</span>
      </h2>
      <div class="banner__box">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}"
                {{ block.shopify_attributes }}
              >
                <span>{{ section.settings['title-4'] }}</span>
              </h2>
          {%- endcase -%}
        {%- endfor -%}
        <div class="banner__text" {{ block.shopify_attributes }}>
          <span>{{ section.settings['text-4'] | escape }}</span>
        </div>
        <div
          class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
          {{ block.shopify_attributes }}
        >
          {%- if section.settings['button-text-4'] != blank -%}
            <a
              role="link"
              href="{{ section.settings.link-4 }}"
              class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
            >
              {{- section.settings['button-text-4'] -}}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "4 Column Banner",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "text",
      "id": "title-1",
      "label": "Title 1"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:sections.image-banner.blocks.text.settings.text.label"
    },
    {
      "type": "text",
      "id": "button-text-1",
      "label": "Button Text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "link-1",
      "label": "Link 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "text",
      "id": "title-2",
      "label": "Title 2"
    },
    {
      "type": "text",
      "id": "text-2",
      "label": "t:sections.image-banner.blocks.text.settings.text.label"
    },
    {
      "type": "text",
      "id": "button-text-2",
      "label": "Button Text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "link-2",
      "label": "Link 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Third Image"
    },
    {
      "type": "text",
      "id": "title-3",
      "label": "Title 2"
    },
    {
      "type": "text",
      "id": "text-3",
      "label": "t:sections.image-banner.blocks.text.settings.text.label"
    },
    {
      "type": "text",
      "id": "button-text-3",
      "label": "Button Text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "link-3",
      "label": "Link 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Fourth Image"
    },
    {
      "type": "text",
      "id": "title-4",
      "label": "Title 2"
    },
    {
      "type": "text",
      "id": "text-4",
      "label": "t:sections.image-banner.blocks.text.settings.text.label"
    },
    {
      "type": "text",
      "id": "button-text-4",
      "label": "Button Text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "link-4",
      "label": "Link 4"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.image-banner.settings.adapt_height_first_image.label",
      "info": "t:sections.image-banner.settings.adapt_height_first_image.info"
    },
    {
      "type": "select",
      "id": "desktop_text_box_position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:sections.image-banner.settings.desktop_text_box_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_text_box_position.options__2.label"
        },
        {
          "value": "flex-end",
          "label": "t:sections.image-banner.settings.desktop_text_box_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_text_box_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "medium",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "4 Column Banner",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
