{{ 'section-shop-contact-panel.css' | asset_url | stylesheet_tag }}
{{ 'custom-modal.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-shop-contact-panel.js' | asset_url }}" async></script>

<section class="shop-contact">
  <div class="shop-contact__border"></div>
  <div class="shop-contact__wrapper page-width">
    <div class="shop-contact__grid grid grid--gapless grid--1-col grid--2-col-tablet">
      <div class="grid__item shop-contact__map-wrapper">
        <div id="map">
          {{ section.settings.google_maps_embed }}
        </div>
      </div>
      <div class="grid__item shop-contact__row">
        <h2 class="shop-contact__heading">{{ section.settings.heading }}</h2>
        <div class="shop-contact__description">{{ section.settings.description }}</div>
        <img class="shop-contact__logo" src="{{ 'logo-golden-breed.png' | asset_url }}" width="215" height="51" loading="lazy"/>

        {% if section.settings.address != empty or section.settings.shop_name != empty or section.settings.hours != empty %}
          <div class="shop-contact__group">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 2.66663C10.6747 2.66663 6.34229 6.99903 6.34229 12.3242C6.34229 18.933 14.9849 28.635 15.3529 29.0448C15.6985 29.4297 16.302 29.429 16.647 29.0448C17.0149 28.635 25.6576 18.933 25.6576 12.3242C25.6574 6.99903 21.3252 2.66663 16 2.66663ZM16 17.1833C13.3207 17.1833 11.141 15.0036 11.141 12.3242C11.141 9.64496 13.3207 7.46527 16 7.46527C18.6792 7.46527 20.8589 9.64501 20.8589 12.3243C20.8589 15.0036 18.6792 17.1833 16 17.1833Z" fill="white"/>
            </svg>
            
            <h3 class="shop-contact__label">Visit Us</h3>
            <div class="shop-contact__shop-name">{{ section.settings.shop_name }}</div>
            <div class="shop_cotact__address">{{ section.settings.address }}</div>
            <h3 class="shop-contact__label">Shop Hours</h3>
            <div class="shop-contact__hours">{{ section.settings.hours }}</div>
          </div>
        {% endif %}

        <div class="shop-contact__group-row">
          {% if section.settings.phoneLink != empty and section.settings.phone != empty %}
            <div class="shop-contact__group">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.6667 27.9998C20.4617 27.9978 18.2911 27.4528 16.3467 26.4131L15.7467 26.0798C11.601 23.8508 8.20225 20.452 5.97333 16.3064L5.64 15.7064C4.57309 13.751 4.00951 11.5607 4 9.33308V8.43975C3.99944 7.72903 4.28261 7.04748 4.78667 6.54641L7.04 4.29308C7.25884 4.07255 7.56775 3.96625 7.87595 4.00543C8.18415 4.0446 8.45664 4.22481 8.61333 4.49308L11.6133 9.63975C11.9167 10.1636 11.8291 10.8261 11.4 11.2531L8.88 13.7731C8.67072 13.98 8.62196 14.2998 8.76 14.5598L9.22667 15.4398C10.9027 18.5443 13.4524 21.0894 16.56 22.7598L17.44 23.2398C17.7 23.3778 18.0197 23.329 18.2267 23.1198L20.7467 20.5998C21.1736 20.1707 21.8361 20.0831 22.36 20.3864L27.5067 23.3864C27.7749 23.5431 27.9552 23.8156 27.9943 24.1238C28.0335 24.432 27.9272 24.741 27.7067 24.9598L25.4533 27.2131C24.9523 27.7171 24.2707 28.0003 23.56 27.9998H22.6667Z" fill="white"/>
                </svg>
                
              <h3 class="shop-contact__label">Phone</h3>
              <a class="shop-contact__phone-number shop-contact__link" href="{{ section.settings.phoneLink }}">{{ section.settings.phone }}</a>
            </div>
        {% endif %}
        {% if section.settings.whatsappLink != empty and section.settings.whatsapp != empty %}
            <div class="shop-contact__group">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.0504 4H16.044C9.4014 4 4 9.38674 4 16C4 18.6232 4.84913 21.0591 6.29367 23.0334L4.79239 27.49L9.42308 26.0174C11.3279 27.2739 13.6005 28 16.0504 28C22.6929 28 28.0943 22.612 28.0943 16C28.0943 9.38801 22.6929 4 16.0504 4ZM23.0601 20.9507C22.7694 21.768 21.6156 22.445 20.6963 22.6432C20.0665 22.7765 19.2442 22.8829 16.4768 21.7405C12.9363 20.2807 10.6566 16.6993 10.4788 16.4666C10.3085 16.2346 9.04824 14.5708 9.04824 12.8496C9.04824 11.129 9.92605 10.2907 10.2799 9.93115C10.5699 9.63536 11.0506 9.50085 11.5115 9.50085C11.6606 9.50085 11.7945 9.5085 11.915 9.51424C12.2688 9.52954 12.446 9.54994 12.68 10.1065C12.9707 10.8032 13.6783 12.5244 13.7624 12.7017C13.8485 12.8789 13.9339 13.1179 13.8134 13.3506C13.7006 13.5903 13.6011 13.6968 13.4233 13.9008C13.2454 14.1048 13.0765 14.2609 12.8993 14.4796C12.7367 14.6702 12.5525 14.8736 12.7578 15.2261C12.9624 15.571 13.67 16.7204 14.7123 17.6441C16.0574 18.8355 17.1475 19.2167 17.5376 19.3787C17.8283 19.4985 18.1745 19.4698 18.3867 19.2454C18.6564 18.956 18.9892 18.4766 19.3283 18.0042C19.5693 17.6657 19.8734 17.6237 20.1927 17.7435C20.5178 17.8557 22.2391 18.7029 22.5935 18.8782C22.9473 19.0555 23.1806 19.139 23.2667 19.2875C23.3508 19.4348 23.3508 20.1322 23.0601 20.9507Z" fill="white"/>
                </svg>
                
              <h3 class="shop-contact__label">WhatsApp</h3>
              <a class="shop-contact__whatsapp shop-contact__link" href="{{ section.settings.whatsappLink }}">{{ section.settings.whatsapp }}</a>
            </div>
        {% endif %}
        </div>

        {% if section.settings.email != empty %}
        <div class="shop-contact__group">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.33329 5.33337H26.6666C28.1394 5.33337 29.3333 6.52728 29.3333 8.00004V24C29.3333 25.4728 28.1394 26.6667 26.6666 26.6667H5.33329C3.86053 26.6667 2.66663 25.4728 2.66663 24V8.00004C2.66663 6.52728 3.86053 5.33337 5.33329 5.33337ZM18.2 20.6L26.6666 14.6667V11.8667L16.8666 18.7334C16.3454 19.0951 15.6545 19.0951 15.1333 18.7334L5.33329 11.8667V14.6667L13.8 20.6C15.1213 21.5236 16.8786 21.5236 18.2 20.6Z" fill="white"/>
            </svg>
            
          <h3 class="shop-contact__label">Email</h3>
          <a class="shop-contact__email shop-contact__link" href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
        </div>
      {% endif %}
      </div>

      {% if section.settings.driving_directions != empty or section.settings.parking_information != empty or section.settings.wheel_chair_accessibility_information != empty or section.settings.pet_friendliness != empty %}

      <div class="grid__item shop-contact__row grid__item shop-contact__button-row">
        <div class="gb-modal-overlay shop-contact__modal-overlay"></div>

        {% if section.settings.driving_directions != empty %}
        <div class="gb-modal-group shop-contact__modal-group">
          <button class="shop-contact__button">
            <svg width="98" height="72" viewBox="0 0 98 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_432_317)">
              <path d="M3.4724 34.1306C10.8766 25.3927 21.1833 22.5405 31.0493 21.5574C40.6387 20.6025 50.2819 21.1018 59.8595 22.2378C68.1124 23.2176 76.4334 24.7062 84.1353 28.7724C88.4493 31.0474 92.5359 34.1213 97 35.8095C91.9216 28.5415 84.6816 25.9264 77.6947 23.4423C70.4969 20.8834 63.1208 19.2263 55.6932 18.4742C40.838 16.9638 25.767 19.0609 11.4956 24.7717C10.6937 25.0932 1.93905 28.9659 2.00001 29.1719C2.49002 30.8258 2.98004 32.4767 3.4724 34.1306Z" fill="#E78367"/>
              <path d="M90.1492 35.6881L3.39974 35.6881C3.39974 35.6881 9.73011 27.2623 25.2043 24.1417C40.6786 21.021 61.3108 23.2055 69.2824 25.3899C69.2824 25.3899 84.2877 28.8227 90.1492 35.6881Z" fill="#E78367"/>
              <path d="M3.4724 37.8693C10.8766 46.6072 21.1833 49.4595 31.0493 50.4425C40.6387 51.3974 50.2819 50.8981 59.8595 49.7622C68.1124 48.7823 76.4334 47.2938 84.1353 43.2275C88.4493 40.9526 92.5359 37.8787 97 36.1904C91.9216 43.4585 84.6816 46.0736 77.6947 48.5576C70.4969 51.1166 63.1208 52.7736 55.6932 53.5257C40.838 55.033 25.767 52.9359 11.4956 47.2251C10.6937 46.9037 1.93905 43.0309 2.00001 42.825C2.49002 41.1741 2.98004 39.5233 3.4724 37.8693Z" fill="#E78367"/>
              <path d="M90.1492 36.312L3.39974 36.312C3.39974 36.312 9.73011 44.7378 25.2043 47.8585C40.6786 50.9791 61.3108 48.7947 69.2824 46.6102C69.2824 46.6102 84.2877 43.1775 90.1492 36.312Z" fill="#E78367"/>
              </g>
              <defs>
              <clipPath id="clip0_432_317">
              <rect width="36" height="95" fill="white" transform="matrix(0 1 -1 0 97 18)"/>
              </clipPath>
              </defs>
            </svg>
            <span>Driving Directions</span>
          </button>
          <div class="gb-modal shop-contact__modal">
            <div class="gb-modal-header shop-contact__modal-header">
              <h2>{{ section.settings.driving_directions_heading }}</h2>
              <button class="gb-modal-close shop-contact__modal-close">
                <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.835 14.364-.471.472a.667.667 0 0 1-.943 0L8 9.415l-5.421 5.42a.667.667 0 0 1-.943 0l-.471-.47a.667.667 0 0 1 0-.944l5.42-5.42-5.42-5.422a.667.667 0 0 1 0-.943l.471-.471c.26-.26.682-.26.943 0L8 6.586l5.421-5.421c.26-.26.683-.26.943 0l.471.471c.26.26.26.683 0 .943L9.415 8l5.42 5.421c.26.26.26.683 0 .943Z" fill="#000"/></svg>
              </button>
            </div>
            <div class="gb-modal-content shop-contact__modal-content">
              <p>{{ section.settings.driving_directions }}</p>
            </div>
          </div>
        </div>
      {% endif %}

      {% if section.settings.parking_information != empty %}
        <div class="gb-modal-group shop-contact__modal-group">
          <button class="shop-contact__button">
            <svg width="78" height="49" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m77.389 25.161-.702-.47a8.056 8.056 0 0 1-2.515-2.7l-6.05-10.577a5.44 5.44 0 0 0-4.719-2.766H50.301V6.221c3.588.186 7.15.49 10.522.955 0 0 3.763.643 3.834.345.15-.61-8.897-3.667-24.351-4.112-4.432-.126-8.305-.02-11.626.22a1.428 1.428 0 0 1-1.333-.697C25.898.525 23.247.08 22.142 0c-.15-.014-.228.185-.104.285a5.868 5.868 0 0 1 1.468 1.87c.468.908-.09 2.016-1.085 2.169-7.837 1.213-10.3 3.11-7.33 2.851 0 0 3.3-.345 8.441-.663v2.129H13.05l-1.97 3.243h-.916c-.578 0-1.105.325-1.371.849-.832 1.631-2.574 5.59-3.535 11.77h-.871v-.662a.588.588 0 0 0-.585-.597H.585a.588.588 0 0 0-.585.597V37.94c0 .331.26.597.585.597h3.217a.588.588 0 0 0 .585-.597v-1.605h.448c.104.968.254 1.87.488 2.586 0 0 4.087 1.625 6.44 2.09.059.013.28.192.416.205h4.01c.715 0 .87-.57.896-.716.007-.02.007-.033.007-.033 0-.04.007-.08.007-.12a8.94 8.94 0 0 1 .325-1.631c.084-.266.175-.53.279-.783.058-.133.123-.265.188-.398h.865a7.89 7.89 0 0 0-.897 4.424c.331 3.793 3.431 6.824 7.155 7.023 4.374.232 7.994-3.323 7.994-7.733a7.875 7.875 0 0 0-.923-3.707h.786c.416.869.69 1.81.793 2.812.007.086.02.172.02.258h.006s-.006.053.007.126c.032.18.175.485.799.485h18.36c.753 0 1.377-.564 1.494-1.32.13-.836.383-1.625.734-2.361h.82a7.889 7.889 0 0 0-.898 4.423c.332 3.794 3.432 6.824 7.156 7.023 4.373.232 7.993-3.322 7.993-7.732a7.876 7.876 0 0 0-.922-3.707h.825c.35.736.604 1.525.734 2.36.117.756.741 1.32 1.495 1.32h4.341c.76 0 1.371-.63 1.371-1.4V26.336a1.36 1.36 0 0 0-.61-1.174ZM4.796 28.437s-.234 3.177-.078 6.28h-.325V26.17h.644c-.098.73-.176 1.48-.24 2.268ZM49.58 6.201v2.46H37.278V6.01a202.98 202.98 0 0 1 12.302.192Zm-24.156 5.525-1.001 7.6a.904.904 0 0 1-.89.795H12.191a.594.594 0 0 1-.579-.723c.254-1.3.917-4.164 2.23-6.923a3.119 3.119 0 0 1 2.827-1.784h7.87c.54-.007.955.477.884 1.034Zm-1.17-3.071V6.48c3.477-.206 7.714-.398 12.302-.464v2.646H24.254v-.007Zm14.934 10.876a.572.572 0 0 1-.565.577H27.36a.598.598 0 0 1-.591-.597v-8.23c0-.331.266-.597.591-.597h11.256c.312 0 .566.259.566.577v8.27h.006Zm13.043-.086a.698.698 0 0 1-.688.67h-10.62a.628.628 0 0 1-.617-.63v-8.17c0-.345.28-.63.617-.63h11.003a.7.7 0 0 1 .689.736l-.384 8.024Zm17.957.67H55.656a.68.68 0 0 1-.669-.637l-.598-8.05a.683.683 0 0 1 .67-.744h8.416c1.494 0 2.872.816 3.62 2.142l3.593 6.387c.234.398-.052.902-.5.902Z" fill="#EBB967"/></svg>
            <span>Parking Information</span>
          </button>
          <div class="gb-modal shop-contact__modal">
            <div class="gb-modal-header shop-contact__modal-header">
              <h2>{{ section.settings.parking_information_heading }}</h2>
              <button class="gb-modal-close shop-contact__modal-close"><svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.835 14.364-.471.472a.667.667 0 0 1-.943 0L8 9.415l-5.421 5.42a.667.667 0 0 1-.943 0l-.471-.47a.667.667 0 0 1 0-.944l5.42-5.42-5.42-5.422a.667.667 0 0 1 0-.943l.471-.471c.26-.26.682-.26.943 0L8 6.586l5.421-5.421c.26-.26.683-.26.943 0l.471.471c.26.26.26.683 0 .943L9.415 8l5.42 5.421c.26.26.26.683 0 .943Z" fill="#000"/></svg></button>
            </div>
            <div class="gb-modal-content shop-contact__modal-content">
              <p>{{ section.settings.parking_information }}</p>
            </div>
          </div>
        </div>
      {% endif %}

      {% if section.settings.wheel_chair_accessibility_information != empty %}
        <div class="gb-modal-group shop-contact__modal-group">
          <button class="shop-contact__button">
            <svg width="49" height="56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.124 25.482v28.116M47.566 39.54H20.68M45.141 30.8 22.796 48.525M44.783 47.996l-21.242-16.85M41.258 26.672 26.99 52.409M46.43 43.834l-24.614-8.586M47.566 35.39l-26.886 8.3M40.197 51.923 28.211 27.494" stroke="#B4C5D9" stroke-width=".5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M34.086 41.882c1.245 0 2.255-1.035 2.255-2.311 0-1.277-1.01-2.311-2.255-2.311-1.245 0-2.255 1.034-2.255 2.31 0 1.277 1.01 2.312 2.255 2.312Z" fill="#B4C5D9"/><path d="M34.124 40.993c.766 0 1.387-.638 1.387-1.423 0-.786-.621-1.423-1.387-1.423s-1.387.637-1.387 1.423c0 .785.621 1.423 1.387 1.423Z" fill="#B4C5D9"/><path d="M49 39.763c0 8.571-6.662 15.519-14.878 15.519-8.217 0-14.879-6.948-14.879-15.52 0-8.57 6.662-15.518 14.879-15.518C42.338 24.244 49 31.192 49 39.763ZM34.124 26.539c-7.002 0-12.677 5.92-12.677 13.224s5.675 13.224 12.677 13.224S46.8 47.067 46.8 39.763s-5.675-13.224-12.677-13.224ZM14 35h-3v6h3v-6Z" fill="#B4C5D9"/><path d="M33 35h-3v6h3v-6Z" fill="#B4C5D9"/><path d="M11 42v-2h20.742c.695 0 1.258.43 1.258.96v.078c0 .53-.563.96-1.258.96H11V42ZM7 32v3.099C7 36.148 7.933 37 9.084 37h31.35C41.852 37 43 35.952 43 34.658V32H7ZM21.193 0H5.583C2.082 0-.554 2.343.1 4.874L7.093 32H35L26.647 3.247C26.1 1.354 23.826 0 21.193 0Z" fill="#B4C5D9"/><path d="M25.588 0H10.423c-3.4 0-5.96 2.343-5.326 4.874L11.89 32H39L30.885 3.247C30.355 1.354 28.145 0 25.588 0Z" fill="#B4C5D9"/><path d="M30.982 32.219v4.287" stroke="#B4C5D9" stroke-width=".5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M32.283 22.435a1.673 1.673 0 1 0-1.286-3.089 1.673 1.673 0 0 0 1.286 3.09Z" fill="#B4C5D9"/><path d="M44.951 21.812H31.997a.888.888 0 0 1-.887-.887v-.072c0-.49.398-.887.887-.887h12.954c.49 0 .888.397.888.887v.072c0 .49-.398.887-.888.887Z" fill="#B4C5D9"/><path d="M47.977 20.568H38.46a.923.923 0 0 1 0-1.846h9.516a.923.923 0 1 1 0 1.846Z" fill="#B4C5D9"/><path d="M15.878 25.482v28.116M29.32 39.54H2.434M26.895 30.8 4.55 48.525M26.538 47.996 5.295 31.146M23.01 26.672 8.744 52.409M28.184 43.834 3.57 35.248M29.32 35.39l-26.886 8.3M21.952 51.923 9.966 27.494" stroke="#B4C5D9" stroke-width=".5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.84 41.882c1.246 0 2.255-1.035 2.255-2.311 0-1.277-1.01-2.311-2.255-2.311-1.245 0-2.255 1.034-2.255 2.31 0 1.277 1.01 2.312 2.255 2.312Z" fill="#B4C5D9"/><path d="M15.878 40.993c.766 0 1.387-.638 1.387-1.423 0-.786-.62-1.423-1.387-1.423-.766 0-1.387.637-1.387 1.423 0 .785.621 1.423 1.387 1.423Z" fill="#B4C5D9"/><path d="M30.754 39.763c0 8.571-6.662 15.519-14.878 15.519C7.662 55.282 1 48.332 1 39.762c0-8.568 6.662-15.518 14.878-15.518 8.217 0 14.876 6.948 14.876 15.519ZM15.878 26.539c-7.002 0-12.677 5.92-12.677 13.224s5.675 13.224 12.677 13.224 12.677-5.92 12.677-13.224-5.675-13.224-12.677-13.224Z" fill="#B4C5D9"/></svg>
            <span>Wheel chair accessibility information</span>
          </button>
          <div class="gb-modal shop-contact__modal">
            <div class="gb-modal-header shop-contact__modal-header">
              <h2>{{ section.settings.wheel_chair_accessibility_information_heading }}</h2>
              <button class="gb-modal-close shop-contact__modal-close"><svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.835 14.364-.471.472a.667.667 0 0 1-.943 0L8 9.415l-5.421 5.42a.667.667 0 0 1-.943 0l-.471-.47a.667.667 0 0 1 0-.944l5.42-5.42-5.42-5.422a.667.667 0 0 1 0-.943l.471-.471c.26-.26.682-.26.943 0L8 6.586l5.421-5.421c.26-.26.683-.26.943 0l.471.471c.26.26.26.683 0 .943L9.415 8l5.42 5.421c.26.26.26.683 0 .943Z" fill="#000"/></svg></button>
            </div>
            <div class="gb-modal-content shop-contact__modal-content">
              <p>{{ section.settings.wheel_chair_accessibility_information }}</p>
            </div>
          </div>
        </div>
      {% endif %}

      {% if section.settings.pet_friendliness != empty %}
        <div class="gb-modal-group shop-contact__modal-group">
          <button class="shop-contact__button">
            <svg width="96" height="47" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m37.071 35.98.258-1.633c.262-1.692.276-3.376-.25-5.023-.082-.253-.28-.494-.481-.678-.796-.73-1.631-1.418-2.421-2.156-1.442-1.35-2.38-2.858-1.765-4.98.272-.938-.347-1.694-.943-2.374-.926-1.058-1.918-2.063-2.772-3.176-.875-1.139-.743-2.807.163-3.949 1.122-1.412 3.838-2.125 5.484-1.685.194.052.373.157.559.238l.064.215c-.468.266-.928.547-1.405.79-.709.365-1.46.658-2.141 1.063-.903.538-1.103.862-.3 1.995.323.454.793.8 1.187 1.204.53.54 1.172.575 1.737.191 2.475-1.676 5.295-2.393 8.153-3.015 1.372-.298 2.75-.575 4.125-.862.046-.01.103-.004.138-.029 1.24-.876 2.665-.777 4.074-.788.577-.006.967-.334 1.103-.913.25-1.072.489-2.145.743-3.215.188-.794.42-1.58.586-2.38.41-1.954 2.39-3.87 4.362-4.26.938-.186 1.805-.393 2.69.263.274.204.87.062 1.291-.036.732-.17 1.439-.442 2.16-.653.97-.285 1.041-.148 1.5.732.5.96.415 1.814-.098 2.664-.235.39-.59.717-.928 1.035-.576.543-1.197 1.039-1.768 1.587-.866.831-1.072 1.891-.978 3.04.02.254.037.512.01.764-.11 1.019-.233 2.036-.356 3.053-.058.489-.095.98-.192 1.461-.186.92-.19 1.79.252 2.672.427.851.443 1.698-.178 2.566-.375.525-.458 1.254-.695 1.881-.35.923-.786 1.816-1.058 2.76-.169.589-.243 1.278-.115 1.867.52 2.374 1.017 4.765 1.773 7.069.324.988 1.234 1.796 1.923 2.649.123.15.474.176.717.168 4.237-.128 8.48-.166 12.708-.434 4.651-.292 9.296-.752 13.932-1.236 1.417-.147 2.799-.614 4.197-.938.09-.021.182-.099.266-.087.211.027.419.087.628.134-.099.17-.159.4-.306.5-1.035.693-2.062 1.405-3.141 2.025-4.393 2.522-9.13 4.069-14.114 4.923-3.387.581-6.744 1.366-10.146 1.823-3.45.466-6.932.797-10.409.911-5.814.19-11.635.24-17.453.194-4.167-.033-8.335-.28-12.497-.506-1.782-.097-3.554-.403-5.332-.58-1.006-.098-2.065.038-3.019-.228-1.114-.312-1.59.13-2.158.96-.837 1.22-1.98 2.18-3.453 2.54-.645.157-1.382.052-2.052-.076-.286-.054-.67-.448-.705-.725-.035-.279.272-.637.497-.9.404-.474.951-.848 1.271-1.365.534-.86.158-1.616-.819-1.854-.48-.116-.992-.151-1.442-.337-.969-.401-1.568-.045-2.125.755-.686.985-1.439 2.002-2.685 2.28-.85.187-1.776.22-2.64.106-.955-.128-1.174-.932-.522-1.665.305-.343.741-.568 1.093-.874.417-.366.871-.719 1.193-1.162.422-.578.284-.834-.384-1.087-.967-.366-1.947-.707-2.886-1.136-1-.455-1.023-1.013-.128-1.633.797-.552 1.683-.837 2.655-.804 1.048.035 2.042-.086 3.015-.56.343-.169.887.03 1.33.116.586.112 1.16.391 1.742.403 3.345.06 6.692.025 10.036.099 2.137.046 4.27.292 6.408.327 3.574.058 7.151.02 10.727.018.21-.002.415-.041.51-.049Zm7.868-11.176c.151 1.07-.189 1.465-1.09 1.397-.432-.033-.508.151-.56.51-.2 1.367-.462 2.726-.637 4.098-.144 1.13-.035 2.193.992 2.98.784.599 1.636.874 2.613.883.687.006 1.3.175 1.6.923.057.147.364.27.558.275 3.015.056 6.031.095 9.046.12.254.002.73-.126.728-.18-.014-.359-.018-.913-.231-1.031-.724-.4-.691-1.027-.782-1.68a7.24 7.24 0 0 0-.457-1.693c-.758-1.892-1.607-3.75-2.311-5.66-.208-.56-.433-.622-.94-.63-2.489-.043-4.977-.13-7.466-.21-.332-.01-.66-.061-1.063-.102Zm-4.636 8.688c0 .853-.011 1.527.014 2.2.004.096.18.269.281.27.984.022 1.97.012 2.957.012.023-.073.046-.149.071-.222-1.052-.713-2.102-1.428-3.323-2.26Z" fill="#94BBB6"/></svg>
            <span>Pet Friendliness</span>
          </button>
          <div class="gb-modal shop-contact__modal">
            <div class="gb-modal-header shop-contact__modal-header">
              <h2>{{ section.settings.pet_friendliness_heading }}</h2>
              <button class="gb-modal-close shop-contact__modal-close"><svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.835 14.364-.471.472a.667.667 0 0 1-.943 0L8 9.415l-5.421 5.42a.667.667 0 0 1-.943 0l-.471-.47a.667.667 0 0 1 0-.944l5.42-5.42-5.42-5.422a.667.667 0 0 1 0-.943l.471-.471c.26-.26.682-.26.943 0L8 6.586l5.421-5.421c.26-.26.683-.26.943 0l.471.471c.26.26.26.683 0 .943L9.415 8l5.42 5.421c.26.26.26.683 0 .943Z" fill="#000"/></svg></button>
            </div>
            <div class="gb-modal-content shop-contact__modal-content">
              <p>{{ section.settings.pet_friendliness }}</p>
            </div>
          </div>
        </div>
      {% endif %}

      </div>
    {% endif %}
    </div>
  </div>
  
  {% if section.settings.remove_bottom_border != true %}
    <div class="shop-contact__border"></div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Shop Contact Panel",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "placeholder": "Rent A Surfboard"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "placeholder": "Book your Noosa surfboard hire with our friendly team"
    },
    {
      "type": "html",
      "id": "google_maps_embed",
      "label": "Google Maps Embed"
    },
    {
      "type": "text",
      "id": "shop_name",
      "label": "Shop Name",
      "placeholder": "Golden Breed - Noosa"
    },
    {
      "type": "text",
      "id": "address",
      "label": "Address",
      "placeholder": "13 Noosa Drive, Noosa Heads QLD 4567"
    },
    {
      "type": "richtext",
      "id": "hours",
      "label": "Hours"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone Display",
      "placeholder": "02 6680 7944"
    },
    {
      "type": "text",
      "id": "phoneLink",
      "label": "Phone Link",
      "placeholder": "tel:+610266807944"
    },
    {
      "type": "text",
      "id": "whatsapp",
      "label": "WhatsApp Display",
      "placeholder": "02 6680 7944"
    },
    {
      "type": "text",
      "id": "whatsappLink",
      "label": "WhatsApp Link",
      "placeholder": "https://wa.me/"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "placeholder": "GBByronbay@goldenbreed.com.au"
    },
    {
      "type": "html",
      "id": "driving_directions",
      "label": "Driving Directions",
      "placeholder": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "text",
      "id": "driving_directions_heading",
      "label": "Driving Directions Heading",
      "placeholder": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "html",
      "id": "parking_information",
      "label": "Parking Information",
      "placeholder": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "text",
      "id": "parking_information_heading",
      "label": "Parking Information Heading",
      "placeholder": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "html",
      "id": "wheel_chair_accessibility_information",
      "label": "Wheel chair accessibility information",
      "placeholder": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "text",
      "id": "wheel_chair_accessibility_information_heading",
      "label": "Wheel chair accessibility information Heading",
      "placeholder": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "html",
      "id": "pet_friendliness",
      "label": "Pet Friendliness",
      "placeholder": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "text",
      "id": "pet_friendliness_heading",
      "label": "Pet Friendliness Heading",
      "placeholder": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "checkbox",
      "id": "remove_bottom_border",
      "label": "Remove bottom border"
    }
  ],
  "presets": [
    {
      "name": "Shop Contact Panel"
    }
  ]
}
{% endschema %}
